.skills__container {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(---font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.bx-badge-check {
    font-size: 1.2rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__add {
    font-size: var(--normal-font-size);
}

@media (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
    }
}

@media (max-width: 576px) {
    .skills__content {
        padding: 1.5rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}

@media (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}