.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 4rem;
}

.about__description {
    font-size: var(--normal-font-size);
    text-align: center;
}

@media (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .about__description {
        padding: 0;
    }
}